<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Imports -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		{% if title %}
		<title>{{ title }} - Shop API</title>
		{% else %}
		<title>Shopify API</title>
		{% endif %}
	</head>
	<body>


		
		<!-- Navigation -->
		<div class="container-fluid">

			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<h2>Shop API - Documentation</h2>
				</div>
			</div>
			</div>


			<div class="col mx-3 mt-4 ">
			<h5>API Documentation Table of Contents</h5>
				<ul>
					<li><a href="#user-auth">User Auth Management</a></li>
					<li><a href="#user-crud">User CRUD</a></li>
					<li><a href="#userdetails-crud">UserDetails CRUD</a></li>
					<li><a href="#orders-carts-products-category-crud">Orders / Carts / Products / Category CRUD</a></li>
					<li><a href="#admin-section">Admin Section</a></li>
					<li><a href="#category-crud-admin">Category CRUD (Admin)</a></li>
					<li><a href="#product-crud-admin">Product CRUD (Admin)</a></li>
					<li><a href="#user-crud-admin">User CRUD (Admin)</a></li>
					<li><a href="#userdetails-crud-admin">UserDetails CRUD (Admin)</a></li>
					<li><a href="#order-crud-admin">Order CRUD (Admin)</a></li>
					<li><a href="#orderdetails-crud-admin">OrderDetails CRUD (Admin)</a></li>
					<li><a href="#cartdetails-crud-admin">CartDetails CRUD (Admin)</a></li>
					<li><a href="#delivery-crud-admin">Delivery CRUD (Admin)</a></li>
					<li><a href="#payment-crud-admin">Payment CRUD (Admin)</a></li>
				</ul>
			</div>
	
		<!-- Main Content -->
		<div class="container-fluid">

			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<h5>User Section</h5>
				</div>
			</div>
			
			<!-- USER AUTH MANAGEMENT -->
			<div class="row mt-1 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title" id="user-auth">User Auth Management</h6>
							<p style='margin-bottom: 0;'><span style='font-weight: 675;'>POST /api/login</span> Return JSON with Access TOKEN. <br><a href="https://antoineratat.xyz/api_shop/api/login" class="card-link">https://antoineratat.xyz/api_shop/api/login</a></p>
							<p style="font-style: italic;">{"email": "email", "password": "password"}</p> 
							<p style='margin-bottom: 0;'><span style='font-weight: 675;'>POST /api/register</span> Send Email set Password. <br><a href="https://antoineratat.xyz/api_shop/api/register" class="card-link">https://antoineratat.xyz/api_shop/api/register</a></p>
							<p style="font-style: italic;">{"email": "email", "first_name": "first_name", "last_name": "last_name"}</p> 
							<p style='margin-bottom: 0;'><span style='font-weight: 675;'>POST /api/forgot</span> Send Email set Password. <br><a href="https://antoineratat.xyz/api_shop/api/forgot" class="card-link">https://antoineratat.xyz/api_shop/api/forgot</a></p>
							<p style="font-style: italic;">{"email": "email"}</p> 
							<p style='margin-bottom: 0;'><span style='font-weight: 675;'>POST /api/set_password</span> Set/Update password. <br><a href="https://antoineratat.xyz/api_shop/api/set_password" class="card-link">https://antoineratat.xyz/api_shop/api/set_password</a></p>
							<p style="font-style: italic;">{"password": "password", "token": "token"}</p> 
						</div>
					</div>
				</div>
			</div>

			<!-- USER MANAGEMENT -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title" id="user-crud">User CRUD</h6>
							<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as user</h6>
							<p><span style='font-weight: 675;'>GET /api/user</span> Return JSON with user and userdetails . <br><a href="https://antoineratat.xyz/api_shop/api/user" class="card-link">https://antoineratat.xyz/api_shop/api/user</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>PUT /api/user</span> Update selected user from JSON <br><a href="https://antoineratat.xyz/api_shop/api/user" class="card-link">https://antoineratat.xyz/api_shop/api/user</a></p>
							<p style="font-style: italic;">{"password": "password", "first_name": "first_name", "last_name": "last_name", "profile_picture": "profile_picture", "address": "address", "city": "city", "state": "state", "postcode": "postcode", "country": "country", "phone": "phone"}</p>
							<p><span style='font-weight: 675;'>DELETE /api/user</span> Delete selected user. <br><a href="https://antoineratat.xyz/api_shop/api/user" class="card-link">https://antoineratat.xyz/api_shop/api/user</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- USERDETAIL MANAGEMENT -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title" id="userdetails-crud">UserDetails CRUD</h6>
							<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as user</h6>
							<p><span style='font-weight: 675;'>GET /api/userdetails</span> Return JSON with all userdetails for user. <br><a href="https://antoineratat.xyz/api_shop/api/userdetails" class="card-link">https://antoineratat.xyz/api_shop/api/userdetails</a></p>
							<p style="margin-bottom: 0;" ><span style='font-weight: 675;'>POST /api/userdetails</span> Add userdetails to user. <br><a href="https://antoineratat.xyz/api_shop/api/userdetails" class="card-link">https://antoineratat.xyz/api_shop/api/userdetails</a></p>
							<p style="font-style: italic;">{"address": "address", "city": "city", "country": "country",	"phone": "phone", "postcode": "postcode", "state": "state"}</p>
							<p><span style='font-weight: 675;'>GET '/api/userdetail/user_details_id</span> Get selected userdetail. <br><a href="https://antoineratat.xyz/api_shop/api/userdetail/user_details_id" class="card-link">https://antoineratat.xyz/api_shop/api/userdetail/user_details_id</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>PUT '/api/userdetail/user_details_id</span> Update selected userdetail from JSON <br><a href="https://antoineratat.xyz/api_shop/api/userdetail/user_details_id" class="card-link">https://antoineratat.xyz/api_shop/api/userdetail/user_details_id</a></p>
							<p style="font-style: italic;">{"address": "address", "city": "city", "country": "country",	"phone": "phone", "postcode": "postcode", "state": "state"}</p>
							<p><span style='font-weight: 675;'>DELETE '/api/userdetail/user_details_id</span> Delete selected userdetail. <br><a href="https://antoineratat.xyz/api_shop/api/userdetail/user_details_id" class="card-link">https://antoineratat.xyz/api_shop/api/userdetail/user_details_id</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- ORDER MANAGEMENT -->
			<div class="row mt-4 justify-content-left mb-4">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title" id="orders-carts-products-category-crud">Orders / Carts / Products / Category  CRUD</h6>
							<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as user</h6>
							<p><span style='font-weight: 675;'>GET /api/categories</span> Return JSON with categories. <br><a href="https://antoineratat.xyz/api_shop/api/categories" class="card-link">https://antoineratat.xyz/api_shop/api/categories</a></p>
							<p><span style='font-weight: 675;'>GET /api/products</span> Return JSON with products. <br><a href="https://antoineratat.xyz/api_shop/api/products" class="card-link">https://antoineratat.xyz/api_shop/api/products</a></p>
							<p><span style='font-weight: 675;'>GET /api/product/id</span> Return JSON with single product. <br><a href="https://antoineratat.xyz/api_shop/api/product/id" class="card-link">https://antoineratat.xyz/api_shop/api/product/id</a></p>
							<p><span style='font-weight: 675;'>GET /api/orders</span> Return JSON with orders for user. <br><a href="https://antoineratat.xyz/api_shop/api/orders" class="card-link">https://antoineratat.xyz/api_shop/api/orders</a></p>
							<p><span style='font-weight: 675;'>GET /api/cart</span> Return JSON with cart for user. <br><a href="https://antoineratat.xyz/api_shop/api/cart" class="card-link">https://antoineratat.xyz/api_shop/api/cart</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>POST /api/cart</span> Add to Cart for user. <br><a href="https://antoineratat.xyz/api_shop/api/cart" class="card-link">https://antoineratat.xyz/api_shop/api/cart</a></p>
							<p style="font-style: italic;">{"quantity": "quantity", "product_id": "product_id"}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row mt-5 justify-content-left">
				<div class="col mx-3">
					<h5 id="admin-section">Admin Section</h5>
					<p>Requires JWT Token auth as admin</p>
				</div>
			</div>
			<!-- CATEGORY -->
			<div class="row  justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title" id="category-crud-admin">Category CRUD</h6>
							<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as admin</h6>
							<p><span style='font-weight: 675;'>GET /api/admin/categories</span> Return JSON with all categories. <br><a href="https://antoineratat.xyz/api_shop/api/admin/categories" class="card-link">https://antoineratat.xyz/api_shop/api/admin/categories</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>POST /api/admin/categories</span> Post new category from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/categories" class="card-link">https://antoineratat.xyz/api_shop/api/admin/categories</a></p>
							<p style="font-style: italic;">{"name": "name", "description": "description"}</p> 
							<p><span style='font-weight: 675;'>GET /api/admin/category/id</span> Return JSON selected category. <br><a href="https://antoineratat.xyz/api_shop/api/admin/category/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/category/id</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>PUT /api/admin/category/id</span> Update selected category from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/category/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/category/id</a></p>
							<p style="font-style: italic;">{"name": "name", "description": "description"}</p>
							<p><span style='font-weight: 675;'>DELETE /api/admin/category/id</span> Delete selected category. <br><a href="https://antoineratat.xyz/api_shop/api/admin/category/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/category/id</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- PRODUCT -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title" id="product-crud-admin">Product CRUD</h6>
							<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as admin</h6>
							<p><span style='font-weight: 675;'>GET /api/admin/products</span> Return JSON with all products. <br><a href="https://antoineratat.xyz/api_shop/api/admin/products" class="card-link">https://antoineratat.xyz/api_shop/api/admin/products</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>POST /api/admin/products</span> Post new product from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/products" class="card-link">https://antoineratat.xyz/api_shop/api/admin/products</a></p>
							<p style="font-style: italic;">{"product_name": "product_name", "product_description": "product_description", "price": "500", "stock": "stock", "images_url": "images_url", "category_id": "category_id"}</p> 
							<p><span style='font-weight: 675;'>GET /api/admin/product/id</span> Return JSON selected product. <br><a href="https://antoineratat.xyz/api_shop/api/admin/product/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/product/id</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>PUT /api/admin/product/id</span> Update selected product from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/product/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/product/id</a></p>
							<p style="font-style: italic;">{"product_name": "product_name", "product_description": "product_description", "price": "500", "stock": "stock", "images_url": "images_url", "category_id": "category_id"}</p>
							<p><span style='font-weight: 675;'>DELETE /api/admin/product/id</span> Delete selected product. <br><a href="https://antoineratat.xyz/api_shop/api/admin/product/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/product/id</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- User -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title" id="user-crud-admin">User CRUD</h6>
							<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as admin</h6>
							<p><span style='font-weight: 675;'>GET /api/admin/users</span> Return JSON with all users. <br><a href="https://antoineratat.xyz/api_shop/api/admin/users" class="card-link">https://antoineratat.xyz/api_shop/api/admin/users</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>POST /api/admin/users</span> Post new user and userdetail from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/users" class="card-link">https://antoineratat.xyz/api_shop/api/admin/users</a></p>
							<p style="font-style: italic;">{"email": "email", "password": "password", "role": "role", "first_name": "first_name", "last_name": "last_name", "profile_picture": "profile_picture", "address": "address", "city": "city", "state": "state", "postcode": "postcode", "country": "country", "phone": "phone"}</p> 
							<p><span style='font-weight: 675;'>GET /api/admin/user/id</span> Return JSON selected user. <br><a href="https://antoineratat.xyz/api_shop/api/admin/user/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/user/id</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>PUT /api/admin/user/id</span> Update selected user and userdetail from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/user/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/user/id</a></p>
							<p style="font-style: italic;">{"email": "email", "password": "password", "role": "role", "first_name": "first_name", "last_name": "last_name", "profile_picture": "profile_picture", "address": "address", "city": "city", "state": "state", "postcode": "postcode", "country": "country", "phone": "phone"}</p>
							<p><span style='font-weight: 675;'>DELETE /api/admin/user/id</span> Delete selected user. <br><a href="https://antoineratat.xyz/api_shop/api/admin/user/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/user/id</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- User Details -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title" id="userdetails-crud-admin">UserDetails CRUD</h6>
							<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as admin</h6>
							<p><span style='font-weight: 675;'>GET /api/admin/userdetails</span> Return JSON with all userdetails. <br><a href="https://antoineratat.xyz/api_shop/api/admin/userdetails" class="card-link">https://antoineratat.xyz/api_shop/api/admin/userdetails</a></p>
							<p><span style='font-weight: 675;'>GET /api/admin/userdetail/id</span> Return JSON selected userdetail. <br><a href="https://antoineratat.xyz/api_shop/api/admin/userdetail/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/userdetail/id</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- ORDER -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title" id="order-crud-admin">Order CRUD</h6>
							<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as admin</h6>
							<p><span style='font-weight: 675;'>GET /api/admin/orderdetails</span> Return JSON with all orders. <br><a href="https://antoineratat.xyz/api_shop/api/admin/orders" class="card-link">https://antoineratat.xyz/api_shop/api/admin/orders</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>POST /api/admin/orders</span> Post new order from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/orders" class="card-link">https://antoineratat.xyz/api_shop/api/admin/orders</a></p>
							<p style="font-style: italic;">{"order_number": order_number, "order_details": "order_details", "user_id": "user_id"}</p> 
							<p><span style='font-weight: 675;'>GET /api/admin/order/id</span> Return JSON selected order. <br><a href="https://antoineratat.xyz/api_shop/api/admin/order/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/order/id</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>PUT /api/admin/order/id</span> Update selected order from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/order/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/order/id</a></p>
							<p style="font-style: italic;">{"order_number": order_number, "order_details": "order_details", "user_id": "user_id",}</p>
							<p><span style='font-weight: 675;'>DELETE /api/admin/order/id</span> Delete selected order. <br><a href="https://antoineratat.xyz/api_shop/api/admin/order/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/order/id</a></p>
						</div>
					</div>
				</div>
			</div>

				<!-- ORDER DETAILS -->
				<div class="row mt-4 justify-content-left">
					<div class="col mx-3">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title" id="orderdetails-crud-admin">OrderDetails CRUD</h6>
								<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as admin</h6>
								<p><span style='font-weight: 675;'>GET /api/admin/orderdetails</span> Return JSON with all orderdetails. <br><a href="https://antoineratat.xyz/api_shop/api/admin/orderdetails" class="card-link">https://antoineratat.xyz/api_shop/api/admin/orderdetails</a></p>
								<p style="margin-bottom: 0;"><span style='font-weight: 675;'>POST /api/admin/orderdetails</span> Post new orderdetail from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/orderdetails" class="card-link">https://antoineratat.xyz/api_shop/api/admin/orderdetails</a></p>
								<p style="font-style: italic;">{"quantity": "quantity", "product_id": "product_id", "order_id": "order_id"}</p> 
								<p><span style='font-weight: 675;'>GET /api/admin/orderdetail/id</span> Return JSON selected orderdetail. <br><a href="https://antoineratat.xyz/api_shop/api/admin/orderdetail/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/orderdetail/id</a></p>
								<p style="margin-bottom: 0;"><span style='font-weight: 675;'>PUT /api/admin/orderdetail/id</span> Update selected orderdetail from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/orderdetail/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/orderdetail/id</a></p>
								<p style="font-style: italic;">{"quantity": "quantity", "product_id": "product_id",  "order_id": "order_id"}</p>
								<p><span style='font-weight: 675;'>DELETE /api/admin/orderdetail/id</span> Delete selected orderdetail. <br><a href="https://antoineratat.xyz/api_shop/api/admin/orderdetail/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/orderdetail/id</a></p>
							</div>
						</div>
					</div>
				</div>

				<!-- CART DETAILS -->
				<div class="row mt-4 justify-content-left">
					<div class="col mx-3">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title" id="cartdetails-crud-admin">CartDetails CRUD</h6>
								<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as admin</h6>
								<p><span style='font-weight: 675;'>GET /api/admin/cartdetails</span> Return JSON with all cartdetails. <br><a href="https://antoineratat.xyz/api_shop/api/admin/cartdetails" class="card-link">https://antoineratat.xyz/api_shop/api/admin/cartdetails</a></p>
								<p style="margin-bottom: 0;"><span style='font-weight: 675;'>POST /api/admin/cartdetails</span> Post new cartdetail from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/cartdetails" class="card-link">https://antoineratat.xyz/api_shop/api/admin/cartdetails</a></p>
								<p style="font-style: italic;">{"quantity": "quantity", "product_id": "product_id", "user_id": "user_id"}</p> 
								<p><span style='font-weight: 675;'>GET /api/admin/cartdetail/id</span> Return JSON selected cartdetail. <br><a href="https://antoineratat.xyz/api_shop/api/admin/cartdetail/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/cartdetail/id</a></p>
								<p style="margin-bottom: 0;"><span style='font-weight: 675;'>PUT /api/admin/cartdetail/id</span> Update selected cartdetail from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/cartdetail/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/cartdetail/id</a></p>
								<p style="font-style: italic;">{"quantity": "quantity", "product_id": "product_id",  "user_id": "user_id"}</p>
								<p><span style='font-weight: 675;'>DELETE /api/admin/cartdetail/id</span> Delete selected cartdetail. <br><a href="https://antoineratat.xyz/api_shop/api/admin/cartdetail/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/cartdetail/id</a></p>
							</div>
						</div>
					</div>
				</div>

			<!-- DELIVERY -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title" id="delivery-crud-admin">Delivery CRUD</h6>
							<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as admin</h6>
							<p><span style='font-weight: 675;'>GET /api/admin/deliveries</span> Return JSON with all deliveries. <br><a href="https://antoineratat.xyz/api_shop/api/admin/deliveries" class="card-link">https://antoineratat.xyz/api_shop/api/admin/deliveries</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>POST /api/admin/deliveries</span> Post new delivery from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/deliveries" class="card-link">https://antoineratat.xyz/api_shop/api/admin/deliveries</a></p>
							<p style="font-style: italic;">{"status": "status", "company": "company", "phone": "phone", "order_id": "order_id"}</p> 
							<p><span style='font-weight: 675;'>GET /api/admin/delivery/id</span> Return JSON selected delivery. <br><a href="https://antoineratat.xyz/api_shop/api/admin/delivery/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/delivery/id</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>PUT /api/admin/delivery/id</span> Update selected delivery from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/delivery/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/delivery/id</a></p>
							<p style="font-style: italic;">{"status": "status", "company": "company", "phone": "phone", "order_id": "order_id"}</p>
							<p><span style='font-weight: 675;'>DELETE /api/admin/delivery/id</span> Delete selected delivery. <br><a href="https://antoineratat.xyz/api_shop/api/admin/delivery/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/delivery/id</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- PAYMENT -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title" id="payment-crud-admin">Payment CRUD</h6>
							<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as admin</h6>
							<p><span style='font-weight: 675;'>GET /api/admin/payments</span> Return JSON with all payments. <br><a href="https://antoineratat.xyz/api_shop/api/admin/payments" class="card-link">https://antoineratat.xyz/api_shop/api/admin/payments</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>POST /api/admin/payments</span> Post new payment from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/payments" class="card-link">https://antoineratat.xyz/api_shop/api/admin/payments</a></p>
							<p style="font-style: italic;">{"payment_method": "payment_method", "order_id": "order_id"}</p> 
							<p><span style='font-weight: 675;'>GET /api/admin/payment/id</span> Return JSON selected payment. <br><a href="https://antoineratat.xyz/api_shop/api/admin/payment/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/payment/id</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>PUT /api/admin/payment/id</span> Update selected payment from JSON <br><a href="https://antoineratat.xyz/api_shop/api/admin/payment/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/payment/id</a></p>
							<p style="font-style: italic;">{"payment_method": "payment_method", "order_id": "order_id"}</p>
							<p><span style='font-weight: 675;'>DELETE /api/admin/payment/id</span> Delete selected payment. <br><a href="https://antoineratat.xyz/api_shop/api/admin/payment/id" class="card-link">https://antoineratat.xyz/api_shop/api/admin/payment/id</a></p>
						</div>
					</div>
				</div>
			</div>

		<!-- Bootstrap core JavaScript -->
		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>
	</body>
</html>
